@page "/teams"

<h3>Teams</h3>

<p>
    Value : @value
   <br />
    <button class="btn btn-primary" @onclick="IncrementCount">Increment Value</button>
</p>
<a href="/team/@value">Pass Value to team component</a>

@code {
    int value = 5;

    private void IncrementCount()
    {
        value++;
    }

}
