
    <form [formGroup]="formModel"  (submit)="OnSubmit()">
      <div class="form-group required">
        <label>UserName:</label>
        <input class="form-control" formControlName="UserName"  />
       
        <label class="text-danger" *ngIf="formModel.get('UserName').touched && formModel.get('UserName').errors?.required">
          This field is required
        </label>
      </div>
      <div class="form-group required">
        <label>Email:</label>
        <input class="form-control " formControlName="Email" />
        <label class="text-danger" *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.required">
          This field is required
        </label>
        <label class="text-danger" *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.email ">Please Enter valid email</label>
      </div>
      <div class="form-group">
        <label>DOb:</label>
        <input type="date" class="form-control" formControlName="Dob" />
      </div>
      <div FormGroupName="Passwords">
        <div class="form-group required">
          <label>Password:</label>
          <input type="password"  class="form-control " formControlName="Password" />
          <label class="text-danger" *ngIf="formModel.get('Password').touched && formModel.get('Password').errors?.required">
            This field is required.
          </label>
          <label class="text-danger" *ngIf="formModel.get('Password').touched && formModel.get('Password').errors?.minlength">Minimum 6 characters required.
            </label>
           
        </div>
        <div class="form-group required">
          <label>Confirm Password:</label>
          <input type="password"  class="form-control " formControlName="ConfirmPassword" />
          <label class="text-danger" *ngIf="formModel.get('ConfirmPassword').touched && formModel.get('ConfirmPassword').errors?.required ">This field is required</label>
         
        </div>
      </div>
        <div class="form-row">
          <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="formModel.invalid">Sign Up</button>
          </div>
        </div>
</form>

