<form #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group">
        <input type="hidden" name="custId" #custId="ngModel" [(ngModel)]="custservice.formData.custId">
        <label>FullName</label>
        <input name="fullName" #fullName="ngModel" [(ngModel)]="custservice.formData.fullName" class="form-control" required>
        <div class="validation-error" *ngIf="fullName.invalid && fullName.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>Mobile Number</label>
        <input name="mobile" #mobile="ngModel" [(ngModel)]="custservice.formData.mobile" class="form-control" required minlength="10" maxlength="10">
        <div class="validation-error" *ngIf="mobile.invalid && mobile.touched">This field requires 10 character</div>
    </div>
    
    <div class="form-group">
        <label>Insurance Type</label>
            <select (change)="selectInput($event)" matNativeControl required name="insuranceType" #insuranceType="ngModel" [(ngModel)]="custservice.formData.insuranceType" class="form-control">
              <option value="Life Insurance">Life Insurance</option>
              <option value="Vehicle Insurance">Vehicle Insurance</option>
              <option value="Mediclaim">Mediclaim</option>
            </select>
            <div class="validation-error" *ngIf="insuranceType.invalid && insuranceType.touched">This field is required</div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
        <label>Age</label>
        <input type="number" name="age" #age="ngModel" [(ngModel)]="custservice.formData.age" class="form-control" required>
        <div class="validation-error" *ngIf="age.invalid && age.touched">This field is required</div>
    </div>
    <div class="form-group col-md-6">
        
            <label>Gender</label>
            <select matNativeControl required name="gender" #gender="ngModel" [(ngModel)]="custservice.formData.gender" class="form-control">
              <option value="Female">Female</option>
              <option value="Male">Male</option>
              <option value="Other">Other</option>
            </select>
        <div class="validation-error" *ngIf="gender.invalid && gender.touched">This field is required</div>
    </div>
    </div>
    <div class="form-row" *ngIf="insurace">
    <div  class="form-group  col-md-6" >
        <label>Maturity Date</label>
        <input type="date" class="form-control" name="matdate" #matdate="ngModel" [(ngModel)]="custservice.formData.matdate" required >
    </div>
    <div class="form-group  col-md-6">
        <label>Amount</label>
        <input type="number" class="form-control" name="Amount" #Amount="ngModel" [(ngModel)]="custservice.formData.Amount" required >
    </div>
</div>


    <div class="form-group">
        <button type="submit"  class="btn btn-lg btn-block submitbtn">Submit</button>
    </div>
</form>
