@page "/"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h1>Hi, @context.User.Identity.Name. Welcome back!</h1>

    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Blazor !</h1>
        <Login />
    </NotAuthorized>
</AuthorizeView>
